ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:lightgray;
    border: 1px black solid ;
    width: 20%;
    height: 45px;
    margin-left: 40% ;
    justify-content: space-between;
    display: flex;
    margin-top: 70px;
    
  }
  
  a{
    display: block;
    
  }

  li {
      display: inline;
    float: left;
    justify-content: center;
    
  }
  
  li a {
    display: block;
    align-content: center;
    color: black;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
  }
  li a:hover {
    background-color:lightpink;
  }
  .active {
    background-color: lightpink;
  }
  
  