body{
    background-color: lightcyan;
}
.onderwerp{
    display: block;
    margin-left: 200px; 
    margin-top: 100px;
}
.textvak{
    background-color: lightgrey;
    border:solid black 1px;
    border-radius: 2px;
    margin: 10px;
    padding: 5px;
    width: 30%;
    margin-left: 200px;
    margin-top: 60px;
}
.opvulling1{
    display: block;
    position: fixed;
    right: 50px;
    bottom: 10px;
}
.textvak2{
    background-color: lightgrey;
    border:solid black 1px;
    border-radius: 2px;
    margin: 10px;
    padding: 5px;
    width: 30%;
    margin-left: 200px;
    margin-top: 60px;
}
.onderwerp2{
    display: block;
    position: fixed;
    right: 200px;
    top: 200px;

}
.plaatje1{
    display: block;
    position: fixed;
    right: 200px;
    top: 310px;
}
